@import "variables.module.scss";

/*------------ LAYOUT ------------*/
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0 108px;
}

.mainWrapper {
  min-height: 100vh;
  padding: 54px 0 108px;
}

/*------------ HEADER ------------*/
.headerWrapper {
  max-width: 1920px;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 999;


  &.active {
    background-color: $white;
    position: static;
    box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.7);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    h1 {
      a {
        display: block;
        width: 100px;

        img {
          object-fit: cover;
          width: inherit;
          height: inherit;
        }
      }
    }

    .gnb {
      ul {
        display: flex;
        gap: 10px;
        align-items: center;

        li {
          a:last-child {
            width: 35px;

            img {
              object-fit: cover;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              border: 1px solid $light-black;
            }
          }
        }
      }
    }
  }
}


/*------------ FOOTER ------------*/
.footer {
  padding: 54px 0;
  color: $white;
  background-color: $light-gray;
  width: 100%;

  address {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    div {
      display: flex;
      justify-content: center;
      gap: 10px;

      a {
        svg {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

/*------------ GoTopButton.tsx ------------*/
.goTopButton {
  width: 45px;
  height: 45px;
  background-color: $primary-color;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 45px;

  &:hover {
    background-color: $secondary-color;
    transition: 0.3s ease-out;
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      color: $white;
    }
  }
}

/*------------ Loading ------------*/
.loading {
  margin-top: 150px;
  position: fixed;
  inset: 0;
  background-color: red;
  font-size: 43px;
  z-index: 999;
}

/*------------ NotFound ------------*/