@import "variables.module.scss";

/*------------ LAYOUT ------------*/
.main {
  min-height: 200vh;
}

/*------------ HEADER ------------*/
.headerWrapper {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  max-width: 1920px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    a {
      display: block;
      width: 100px;

      img {
        object-fit: cover;
        width: inherit;
        height: inherit;
      }
    }
  }

  .gnb {
    display: flex;

    >ul {
      display: flex;
      gap: 10px;
    }
  }
}


/*------------ FOOTER ------------*/
.footer {
  padding: 54px 0;
  color: $white;
  background-color: $light-gray;
  width: 100%;

  address {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    div {
      a {
        display: inline-block;
        margin: 0 5px;
        width: 30px;

        svg {
          width: 30px;

          path {
            width: 30px;
          }
        }
      }
    }
  }
}

/*------------ GoTopButton.tsx ------------*/
.goTopButton {
  width: 45px;
  height: 45px;
  background-color: $primary-color;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 45px;

  &:hover {
    background-color: $secondary-color;
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      color: $white;
    }
  }
}