//Setting Variables : Font Family
$primary-color: #f465a5;
$secondary-color: #2ECC71;

//Setting Variables : Text Color 
$dark-black: #333333; // 문서 본문 전체 텍스트 색상
$dim-black: #555555;
$silver-black: #777777;
$light-black: #999999; //사용중
$dark-gray: #BDBDBD; // 입력요소 placeholder 사용중
$dim-gray: #DDDDDD;
$silver-gray: #EEEEEE;
$light-gray: #F5F5F5; //사용중
$cloudy-gray: #F9F9F9;

//Setting Variables : Object Color
$royalblue: #006BE5;
$orangered: #FD5631;
$orange: #FFD912;
$crimson: #ED2040; //사용중
$forestgreen: #2ECC71;
$turquoise: #00D2D3;
$tomato: #FF4C79;
$white: #FFFFFF; //사용중
$black: #000000;